<nav class="navbar navbar-light bg-faded">
  <div class="container">
    <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2" aria-controls="exCollapsingNavbar2" aria-expanded="false" aria-label="Toggle navigation">
      &#9776;
    </button>
    <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
      {{#link-to 'index' class="navbar-brand"}}<img src="assets/img/amplify2.png">{{/link-to}}
      <ul class="nav navbar-nav pull-xs-right">
        <li class="nav-item">
          {{#link-to 'carriers' class="nav-link"}}CARRIERS{{/link-to}}
        </li>
        <li class="nav-item">
          {{#link-to 'shippers' class="nav-link"}}SHIPPERS{{/link-to}}
        </li>
        <li class="nav-item">
          {{#link-to 'resources' class="nav-link"}}RESOURCES{{/link-to}}
        </li>
        <li class="nav-item">
          {{#link-to 'about' class="nav-link"}}ABOUT US{{/link-to}}
        </li>
      </ul>
    </div>
  </div>
</nav>

{{outlet}}

<footer id="footer">
  <div class="container footer-content">
    <div class="row">

      <div class="col-sm-6">
        {{#link-to 'index' class="navbar-brand"}}<img src="assets/img/amplify2.png">{{/link-to}}
      </div>

      <div class="col-sm-6">
        <p>©Copyright 2016	Amplifylogistics.com, Inc.</p>
        <p>1-800-483-3728</p>
      </div>

    </div>
  </div>
</footer>
